<% if @bookmark.nil? %>
    <%= form_with url: bookmarks_path do |f| %>
    <%= f.hidden_field :program_id, value: @program.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Save" %>
    <% end %>
    <p><i>Click to save.</i></p>
<% else %>
    <%= button_to "Remove", bookmark_path(@bookmark.id), method: :delete %>
    <p><i>Saved to <%= link_to 'bookmarks', bookmarks_path %>!</i></p>
<% end %>