<div class="container">
  <div class="row">
  <%# profile %>
    <div class="col-sm-8">
        <h1>Welcome, <%= current_user.name %>!</h1>
        <% if current_user.admin %>
          <p>Role: Admin</p>
        <% end %>
      <br>
      
      <%= link_to "Edit Profile", edit_user_registration_path %><br>
       <%= link_to "My Created Programs", users_created_programs_path %>
      <br><br><br><br><br><br><br>
    </div>

  <%# Bookmarks %>
    <div class="col-sm-4">
      <%= image_tag "cat-and-dog.png", class: "img-fluid" %> 
      <br>
      <br>
    </div>
  </div>
  <div class="row">
  <%# Links? %>
    <div class="col-sm border border-2 border-dark">
      <center><h4>What do you want to do?</h4></center>
      <h5>Programs</h5>
        <%= link_to "Create A Program", new_program_path %><br>
        <%= link_to "View Programs", programs_path %><br>
     
        <br>
      <h5>Categories</h5>
        <%= link_to "Create A Category", new_category_path if current_user.admin %><br>
        <%= link_to "View Categories", categories_path %><br>
        <br>
        <br>
    </div>
    <div class="col-sm border border-2 border-dark">
       <center><h4>Bookmark List</h4></center>
      <%= render 'user_programs/list' %>
      <br>
      <br>
    </div>
    
  </div>
</div>

  

