<h3>Bookmark Form Test</h3>
    <% if @bookmark.nil? %>
        <%= form_with model: UserProgram.new do |f| %>
        <%= f.hidden_field :program_id, value: @program.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Bookmark" %>
        <% end %>
    <% else %>
       <%= button_to 'Remove', dashboard_path(@bookmark), method: :delete %>
    <% end %>
    


