<% if @programs %>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        <% @programs.most_recent.each_with_index do |p, index| %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= p.name %></td>
                <td><%= p.category.name %></td>
                <td><%= p.format_update %></td>
                <td><%= link_to "Edit", edit_program_path(p), method: :edit %></td>
                <td><%= link_to "Delete", program_path(p), method: :delete %></td>
            </tr>
        <% end %>             
    </tbody>
</table>
<% end %>