
<%= form_with model: ([@category, @program]) do |f| %>
<div class="row">
    <div class="col">
        <% if @category %>
            <%= f.hidden_field :category_id, value: @category.id %>
        <% else %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: 'Select a category')%><br>
        <% end %>
    </div>

<div class="row">
    <div class="col">
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %><br>
    </div>

     <div class="col">
    <%= f.text_field :website, class: "form-control", placeholder: "www.example.com" %><br>
    </div>
</div>

<div class="row">
    <div class="col">
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %><br>

    <%= f.submit 'Create'%>
    <% end %>
    </div>
</div>

