<h2>Edit <%= @program.name %></h2>

<%= form_with model: @program do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <br>
    <%= f.label :website %>
    <%= f.text_field :website %><br>
    <br>
    <h4>Category:<h4>
    <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true)%>
    <br>
    <br>
    <%= f.submit 'Save Changes' %>
<% end %>


