<% if params[:category_id] %>
    <h1><%= @category.name %> Programs<h1>
    <br>
    <% @category.programs.each do |p| %>
        <h4><%= link_to p.name, category_program_path(@category, p) %></h4>
    <% end %>
<% else %>
    <h2>All programs displayed here by category</h2>
    <%= link_to "Add A Program", new_program_path %>
    <br>
    <br>
    <% Category.all.each do |c| %>
        <h3><%= c.name %></h3>
        <% c.programs.each do |p| %>
            <%= link_to p.name, category_program_path(c, p) %><br>
        <% end %>
        <br>
    <% end %>
<% end %>
