<% if @category %>
    <h3><%= @category.name %> Programs<h3>
    <h4><%= link_to "Add A Program", new_category_program_path(@category) %></h4>
    <% @category.programs.each do |p| %>
        <h4><%= link_to p.name, category_program_path(@category, p) %></h4>
    <% end %>
<% else %>
    <h3>All programs displayed here by category</h3>
    <%= link_to "Add A Program", new_program_path %>
    <br>
    <br>
    <% Category.all.each do |c| %>
        <h4><%= c.name %></h4>
        <ul>
        <% c.programs.each do |p| %>
            <li><%= link_to p.name, category_program_path(c, p) %></li>
        <% end %>
        </ul>
    <% end %>
<% end %>