<h1>New Program</h1>
<%= form_with model: @program do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <br>
    <%= f.label :website %>
    <%= f.text_field :website %><br>
    <br>
    <%= f.submit 'Submit' %>
<% end %>