<h2><%= @category.name if @category %></h2>
<h3>Create Program</h3>
<% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being
        saved:</h2>

      <ul>
        <% @program.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <%= form_with model: ([@category, @program]) do |f| %>
    <% if @category %>
      <%= f.hidden_field :category_id, value: @category.id %>
  <% else %>  
        <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: 'Select a category') %><br>
      <% if current_user.admin %>
        or create a new category:
          <%= f.fields_for :category do |c| %>
          <%= c.text_field :name %>
          <% end %>
      <% end %>
    <% end %>
        <br>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <br>
  <%= f.label :website %>
  <%= f.text_field :website %><br>
  <br>

  <%= f.submit 'Create' %>
<% end %>