<% if @program %>
<h2><%= @program.name %></h2>
<h4><%= @program.description %></h4>
<h4><%= link_to @program.website, target: :_blank %></h4>
<p>Added by <%= @program.user.name %></p>
<br>
<% else %>
    <p>Oops! Looks like that program doesn't exist.</p>
<% end %>
<%= link_to 'Add A Program', new_program_path %><br>
<%= link_to 'View All Programs', programs_path %><br>
<br>