<div class="col-6">
  <div class="p-3">
      <h1><strong><%= @program.name %></strong></h1>
      <h5>By <strong><%= @program.organization %></strong></h5>
      <br>
     
      <br><br>
  <div>
      <h5>Description: </h5><p><%= @program.description %></p>
  </div>
        
  </div>
</div>

<div class="col-6 pt-4">
  <div class="p-4 border bg-light">
      <h4><strong>Next Steps:</strong></h4>
      <br>
      <%= render partial: 'bookmarks/form', locals: { bookmark: @bookmark, program: @program } %>
      <br>
      <br>
      <p>Go to <%= link_to "program's website.", "#{@program.website}", :target => "_blank" %></p>
      <p>Browse other programs in: <%= link_to @program.category.name, category_path(@program.category) %></p>
  </div>
</div>

<div class="col-6">
  <div class="p-2">
       <% if @program.creator_id == current_user.id %>
        <%= link_to 'Edit', edit_program_path(@program), method: :get %>
        <%= link_to 'Delete', program_path(@program), method: :delete %>
      <% end %>
  </div>
</div>


<div class="col-6">
  <div class="p-3 border bg-light">
      <%= render partial: 'layouts/links' %>
  </div>
</div>
  