<div class="col-6">
  <div class="p-3">
      <h1><strong><%= @program.name %></strong></h1>
      <h5>By <strong><%= @program.organization %></strong></h5>
      <br>
     
      <br><br>
  <div>
      <h5>Description: </h5><p><%= @program.description %></p>
  </div>
        
  </div>
</div>

<div class="col-6 pt-4">
  <div class="p-4 border bg-light">
      <h4><strong>Next Steps:</strong></h4>
      <br>
      <%= render partial: 'user_programs/form' %>
      <br>
      <br>
      <p>Go to <%= link_to "program's website.", "#{@program.website}", :target => "_blank" %></p>
      <p>Browse other programs in: <%= link_to @program.category.name, category_path(@program.category) %></p>
  </div>
</div>

<div class="col-6">
  <div class="p-3">
    <div class="d-grid gap-1 d-md-flex justify-content-center">
      <% if @program.creator_id == current_user.id %>
        <%= button_to 'Edit', edit_program_path(@program), method: :get, class: "btn btn-primary me-md-2 btn-sm" %>
        <%= button_to 'Delete', program_path(@program), method: :delete, class: "btn btn-danger me-md-2 btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-6">
  <div class="p-3 border bg-light">
      <h5>Something here</h5>
        
  </div>
</div>

 

<%# Edit Delete links %>
