<% if current_user.admin %>
    <h3>Welcome, <%= current_user.name %>!</h3>
    <h5>Role: Admin</h5>
<% else %>
    <h3>Welcome, <%= current_user.name %>!</h3>
    <h5>Role: Staff</h5>
<% end %>

<h3>My Bookmarks</h3>
    <% @bookmarked_programs.each do |bookmarked_program| %>
        <% @program = Program.find_by(id: bookmarked_program.program_id) %>
        <%= link_to @program.name, category_program_path(@program.category, @program) %>
        <%= button_to 'Remove', user_program_path(bookmarked_program), method: :delete %><br>
    <% end %>
    <p>Browse all programs <%= link_to 'here', programs_path %></p>
