<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <%= image_tag "logo.png", class: "img-fluid" %> 
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-3 me-3">Sign in with:</p>
          </div>
        
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
           <a class="btn btn-outline-dark lead fw-normal mb-0 me-3" href="/users/auth/google_oauth2" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Google
          </a>

          <div class="d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-1"></p>
          </div>
          
           <a class="btn btn-outline-dark" href="/users/auth/facebook" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Facebook sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/512px-Facebook_f_logo_%282019%29.svg.png" />
            Facebook
          </a>
          </div>
  
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input form -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-outline mb-4">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Enter a valid email address" %>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
             <%= f.label :password, class: "form-label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "Enter password" %>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
          <% if devise_mapping.rememberable? %>
            <div class="form-check mb-0">
              <%= f.check_box :remember_me, class: "form-check-input me-2" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%= f.submit "Login", class: "btn btn-primary btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem"%>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                <%= link_to "Register", new_user_registration_path, class: "link-danger"%></p>
          <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>
    <!-- Copyright -->
    <!-- Right -->
  </div>
</section>