<h2><%= @category.name %></h2>
<p>Help us grow and <%= link_to 'add a program', new_category_program_path(@category) %></p>
    <% if current_user.admin %>
        <%= button_to 'Edit', edit_category_path(@category), method: :get %><br>
        <%= button_to 'Delete', category_path(@category), method: :delete %><br>
    <% end %>
    <br>

    <br>
    <h4><%= pluralize(@programs.count, 'program') %> found:</h4>
      <% @programs.ordered_by_name.each do |p| %>
        <%= link_to p.name, category_program_path(@category, p) %><br>
    <% end %>
<br>


