<h4>Dashboard Test</h4>
<% if current_user.admin%>
    <h3>Welcome, <%= current_user.email %>!</h3>
    <h5>You are admin.</h5>
<% else %>
    <h3>Welcome, <%= current_user.email %>!</h3>
<% end %>

<%= link_to "My Bookmarks", bookmarks_path %><br>
<%= link_to "View Categories", categories_path %><br>
<%= link_to "View Programs", programs_path %>

