<div class="container">
  <div class="row">
  <%# profile %>
    <div class="col-sm-8 border">
        <h3>Welcome, <%= current_user.name %>!</h3>
        <% if current_user.admin %>
          <p>Role: Admin</p>
        <% end %>
      <br>
      
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <br>
      <br>
    </div>
  
  <%# Bookmarks %>
    <div class="col-sm-4 border">
      <h5>My Bookmarks</h5>
      <br>
      <%= render 'user_programs/list' %>
    </div>
  </div>
  <div class="row">
  <%# Links? %>
    <div class="col-sm border">
      <p><strong>Programs:</strong></p>
      <%= link_to "Create", new_program_path %><br>
      <%= link_to "View", programs_path %><br>

    </div>
    <div class="col-sm border">
      <p><strong>Categories:</strong></p>
      <%= link_to "View", programs_path %><br>
    </div>
    <div class="col-sm border">col-sm</div>
  </div>
</div>

  

