<div class="container">
  <div class="row">
  <%# profile %>
    <div class="col-sm-8 bordet">
        <h1>What are you looking for, <%= current_user.name %>?</h1>
        <br>
        <%= form_with url: '/search', method: :get, local: true, class: "form-control-lg" do |f| %>
          <%= f.text_field :query, value: params[:query] %>
          <%= f.submit 'Search', name: nil %>
        <% end %>
        <br>

          <% if @programs && !@programs.empty? %>
            <h5><%= pluralize(@programs.count, 'program') %> found:</h5>
              <%= render partial: 'programs/list' %>
          <% end %>
          <br>
          <% if @categories && !@categories.empty?%>
            <h5><%= pluralize(@categories.count, 'category') %> found:</h5>
              <%= render partial: 'categories/list' %>
          <% end %>

          <% if @categories && @categories.empty? && @programs && @programs.empty? %>
            <h5> No categories or programs fit your search.</h5>
            <p>You can:</p>
            <li>Type a different word</li>
            <li>View <%= link_to "categories", categories_path %> or <%= link_to "programs", programs_path %></li>
            <li>Help us grow and <%= link_to "add a program", new_program_path %></li>
          <% end %>
      <br><br><br><br><br><br><br>
    </div>
  <%# Bookmarks %>
    <div class="col-sm-4">
      <%= image_tag "cat-and-dog.png", class: "img-fluid" %> 
      <br>
      <br>
    </div>
  </div>
  <div class="row">
  <%# Links? %>
    <div class="col-sm">
      <br><br><br><br><br>
    </div>
    <div class="col-sm-4 border border-2 border-dark">
      <center><h2>I want to:</h2>
         <%= link_to "Create A Category", new_category_path if current_user.admin %><br>
        <%= link_to "Add A Program", new_program_path %><br>
        <%= link_to "View All Programs", programs_path %><br>
        <br>
       
        <%= link_to "View All Categories", categories_path %><br>
         <%= link_to "View my bookmarks", bookmarks_path %><br>
        <br>
        <br>
      </center>
    </div>
  </div>
</div>
