<nav class="navbar navbar-expand-lg border navbar-light">
  <div class="container-fluid">
    <%= image_tag "logo.png", class: "navbar-brand", width:"100", height:"100" %> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav fs-5">

        <li class="nav-item <%= active_class(about_path)%>">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>

        <li class="nav-item <%= active_class(categories_path)%>">
          <%= link_to "Categories", categories_path, class: "nav-link" %> 
        </li>

        <li class="nav-item <%= active_class(programs_path)%>">
          <%= link_to "Programs", programs_path, class: "nav-link" %>
        </li>

        <li class="nav-item <%= active_class(users_top_creators_path)%>">
          <%= link_to "Top Creators", users_top_creators_path, class: "nav-link" %>
        </li>
   
        <li class="nav-item dropdown">
          <% if current_user.admin %>
            <%= link_to "Admin | #{current_user.name}", edit_user_registration_path, {:class => "nav-link dropdown-toggle", :id => "navbarDropdownMenuLink", 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false' } %>
         <% else %>
            <%= link_to "Hello, #{current_user.name}", edit_user_registration_path, {:class => "nav-link dropdown-toggle", :id => "navbarDropdownMenuLink", 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false' } %>
         <% end %> 
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Dashboard", root_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Programs", user_programs_path(current_user.id), class: "dropdown-item" %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>

  </div>
</nav>
