<!DOCTYPE html>
<html>
  <head>
    <title>Looking For</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> %>

  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
        <br>
      <% end %>
      <br>
      <br>
    </header>
      <div class="container overflow-hidden">
        <div class="row gy-5 fs-5">
          
           <%= yield %>

        </div>
      </div>

  </body>
</html>

