<!DOCTYPE html>
<html>
  <head>
    <title>Looking For</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to Looking For!</h1>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_path %> |
      <%= link_to "Categories", categories_path %> |
      <%= link_to "Programs", programs_path %> |
      <%= link_to "Contact Us", contact_path %> |
      <% if current_user.admin %>
        <b>Admin User:</b> <%= current_user.email %> |
      <% else %>
      You are signed in as <%= current_user.email %>
      <% end %>
     <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

   <% else %>
     <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
   <% end %>
   <%= yield %>
  </body>
</html>
