<!DOCTYPE html>
<html>
  <head>
    <title>Looking For</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
      <% end %>
    </header>

      <div class="container">
           <%= yield %>
      </div>

    <footer class="bg-light text-center text-white">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>

